extends layout

block content
  .inner
    .card
      h1=title
      ul
        li
          a(href='/customers') Customers
        li
          a(href='/projects') Projects
        li
          a(href='/jobs') Jobs
        //- li
        //-   a(href='/invoices') Invoices
        li
          a(href='/parts') Parts
        li
          a(href='/codes') Codes
        //- li
        //-   a(href='/rules') Invoice Rules
        li
          a(href='/inboundparts') Inbound Parts
        li
          a(href='/register') Register User
        li
          a(href='/accounts') User Accounts
