extends layout

block content
  h1=title
  .inner
    .code=code.code
    .oucCode=code.oucCode
    .description=code.description
    .shortDesc=code.shortDesc
    .category=code.category
    .type=code.type
    .active=code.active
  a.edit(href=`/editcode/${code.slug}`) Edit Code