extends layout

include mixins/_oucTable

block content
  +oucTable(
    'Codes',
    'newcode',
    'code',
    'slug',
    codes,
    [
      {prop:'code',name:'Code',link:true}, 
      {prop:'oucCode',name:'OUC Code'}, 
      {prop:'description',name:'Description'}, 
      {prop:'shortDesc',name:'Short Description'}, 
      {prop:'category',name:'Category'}, 
      {prop:'type',name:'Type'},
    ]
  )




  //- .customers.oucTable
  //-   .controls
  //-     .title=title
  //-     a.new(href='/newcustomer') 
  //-       span Add Customer
  //-       i.fas.fa-plus
  //- .inner
  //-   each customer in customers
  //-     .customer
  //-       a.name(href=`/customer/${customer.slug}`)=customer.name
  //-       .address=customer.address1
  //-       .addresstwo=customer.address2
  //-       .city=customer.city
  //-       .state=customer.state
  //-       .zip=customer.zip
  //-     brextends layout

//- block content
//-   h1=title
//-   each code in codes
//-     a.code(href=`/code/${code.slug}`)
//-       .code=code.code
//-       .oucCode=code.oucCode
//-       .dexcription=code.description
//-       .shortDesc=code.shortDesc
//-       .category=code.category
//-       .type=code.type
//-     br
//-   br
//-   a.new(href='/newcode') Create New Code