extends layout

block content
  h1=title
  a.back(href='/customers') back
  .inner
    .customer
    .name=customer.name
    .address=customer.address1
    .addresstwo=customer.address2
    .city=customer.city
    .state=customer.state
    .zip=customer.zip
    a.edit(href=`/editcustomer/${customer.slug}`) Edit
    br
  h3 Reps
  .reps
    each rep in reps
      .rep
        .name=rep.name
        .email=rep.email
        .phone=rep.phone
        a.edit(href=`/editRep/${rep._id}`) Edit
    br
    a.addrep(href=`/newrep/${customer._id}`) Add Rep