extends layout

include mixins/_oucTable

block content
  +oucTable(
    'Customers',
    'newCustomer',
    'customer',
    'slug',
    customers,
    [
      {prop:'name',name:'Name',link:true}, 
      {prop:'address1',name:'Address 1'}, 
      {prop:'address2',name:'Address 2'}, 
      {prop:'city',name:'City'}, 
      {prop:'state',name:'State'}, 
      {prop:'zip',name:'Zip'},
    ]
  )




  //- .customers.oucTable
  //-   .controls
  //-     .title=title
  //-     a.new(href='/newcustomer') 
  //-       span Add Customer
  //-       i.fas.fa-plus
  //- .inner
  //-   each customer in customers
  //-     .customer
  //-       a.name(href=`/customer/${customer.slug}`)=customer.name
  //-       .address=customer.address1
  //-       .addresstwo=customer.address2
  //-       .city=customer.city
  //-       .state=customer.state
  //-       .zip=customer.zip
  //-     br