extends layout

block content
  h1=title
  .inner
    .number=inboundPart.number
    .notes=inboundPart.notes
    .parts
      each part in inboundPart.parts
        .cifa=part.part.cifa
        .oucpid=part.part.oucpid
        .dexcription=part.part.description
        .shortname=part.part.shortname
        .category=part.part.category
        .type=part.part.type
        .qty=part.quantity