extends layout

block content
  h1=title
  each inboundPart in inboundParts
    a.part(href=`/inboundPart/${inboundPart._id}`)
      .notes #{inboundPart.number} - #{inboundPart.created_at}
    br
  br
  a.new(href='/newinboundpart') Create New Inbound Part