extends layout

include mixins/_jobControls

block content
  .inner
    .card
      .job
        h1=title
        .job_details
          .number Job Number: #{job.number} - #{job.segment}
          .refNumber Customer Number: #{job.customerNumber}
          //- .customer
          .customer-name Customer: #{job.customer.name}
          .rep-name Rep:#{job.rep.name}
          if job.project
            .project-name.right-column Project: #{job.project.name}
          .type.right-column Job Type: #{job.type}
          //- .status Status: #{job.status}
          .job_details-status.right-column Status:
            +changeStatus(user, job.status, job._id)
          a.edit.right-column(href=`/editjob/${job.slug}`)
            span Edit Job 
            i.fas.fa-edit
          //- if user.admin && job.status == 'complete'
          //-   .invoice
          //-     a(href=`/startinvoice/${job.slug}`) Start Invoicing
        .job_location
          img(src=h.staticMap(job.location.coordinates) onClick=`mapsSelector(${job.location.coordinates[1]}, ${job.location.coordinates[0]})`)
          .address=job.location.googleAddress
          //- .map() lat: #{job.location.coordinates[1]} lon: #{job.location.coordinates[0]}
        .job_notes
          +quickChangeNotes(user, job.notes, job._id)

        //- Comments
        #comments.comments
          if job.comments
            each comment in job.comments
              .comment(data-id=(comment._id))
                .comment_user #{comment.user.name}
                .comment_comment #{comment.comment}
                textarea.comment_inline_edit #{comment.comment}
                .comment_status
                  div(class=comment.status) #{comment.status}
                if comment.modifiedDate
                  .comment_modifiedDate modified on #{moment(comment.modifiedDate).format('MMMM Do YYYY, h:mm:ss a')}
                else
                  .comment_createDate created on#{moment(comment.createDate).format('MMMM Do YYYY, h:mm:ss a')}
                .comment_controls
                  .comment_controls_remove
                    i.fas.fa-trash
                  .comment_controls_edit
                    i.fas.fa-pen
                  .comment_controls_submit
                    i.fas.fa-check
                  .comment_controls_cancel
                    i.fas.fa-times
        .add_comment
          .label(for='comment') Add Comment
          textarea.comment_input(name='comment')
          .add_comment_submit
            i.fas.fa-plus#add_comment_submit

        if ['ready', 'inprogress', 'complete', 'invoicing'].indexOf(job.status) >=0
          br
          .parts 
            .label Parts
            if job.usedParts
              each part in job.usedParts
                if part.quantity > 0
                  .parts__part
                    .parts__part--cifa=part.part.cifa
                    .parts__part--desc=part.part.description
                    .parts__part--qty=part.quantity
                    .parts__part--controls
                      a(href=`/removeUsedPart/${part.part.slug}&${job.slug}&${part.quantity}`)
                        i.fas.fa-times
            .parts__controls
              a(href=`/addParts/${job.slug}`) Add Parts
        if ['ready', 'inprogress', 'complete', 'invoicing'].indexOf(job.status) >=0
          br
          .codes 
            .label Codes
            if job.usedCodes
              each code in job.usedCodes
                //- pre=h.dump(code)
                if code.quantity > 0
                  .codes__code
                    .codes__code--cifa=code.code.oucCode
                    .codes__code--desc=code.code.description
                    .codes__code--qty=code.quantity
                    .codes__code--controls
                      a(href=`/removeUsedCode/${code.code.slug}&${job.slug}&${code.quantity}`)
                        i.fas.fa-times
            .codes__controls
              a(href=`/addcodes/${job.slug}`) Add Codes
        .files
          .label Files:
          each file in job.files
            //- pre=h.dump(file)
            .file
              if file.mime && file.mime.startsWith('image')
                img.thumbnail(alt=file.name src=file.path)
              else
                .thumbnail
                  != h.icon('file')
              a(download href=file.path)=file.name
                .actualname=file.file
              .time=moment(file.stats.mtime).format('MMMM Do YYYY, h:mm:ss a')
              .size=file.stats.size
        .file__controls
          .upload
            form(method='post' enctype='multipart/form-data' action=`/uploadMultiple/${job.slug}`)
              label(for='file') New File Upload:
              input.inputfile(type='file' name='file' id='file' multiple)
                //-  accept='image/gif, image/png, image/jpeg'
              input.confirm.submit(name='submit' type='submit' value='Submit & Upload')        
  
  script.
    slug = '#{job.slug}'
    commentsContainer = document.querySelector('.comments')
    commentInput = document.querySelector('.comment_input')
    addCommentSubmit = document.querySelector('#add_comment_submit')

    addCommentSubmit.addEventListener('click', submitAddComment)
  
    commentButtonHandeler()

    function commentButtonHandeler() {
      commentRemove = [...document.querySelectorAll('.comment_controls_remove')]
      commentEdit = [...document.querySelectorAll('.comment_controls_edit')]
      commentSubmit = [...document.querySelectorAll('.comment_controls_submit')]
      commentCancel = [...document.querySelectorAll('.comment_controls_cancel')]

      commentRemove.forEach(el=>(el.addEventListener('click', removeComment)))
      commentEdit.forEach(el=>(el.addEventListener('click', editCommentInline)))
      commentSubmit.forEach(el=>(el.addEventListener('click', submitEditComment)))
      commentCancel.forEach(el=>(el.addEventListener('click', cancelInlineCommentEdit)))
    }

    function submitAddComment(e) {
      var xhr = new XMLHttpRequest();
      xhr.open("post", `/job/${slug}/addComment`, true);
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function (e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            result = JSON.parse(xhr.responseText)
            console.log(xhr.responseText);
            reWriteComments(result)
          } else {
            console.error(xhr.statusText);
          }
        }
      };
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      };
      xhr.send(`comment=${commentInput.value}`);
    }

    function editCommentInline(e) {
      console.log('edit')
      comment = e.composedPath().find(el=>(el.classList.contains('comment')))
      input = comment.querySelector('.comment_inline_edit')
      text = comment.querySelector('.comment_comment')
      comment.classList.toggle('editing')
      input.innerHTML = text.innerHTML
    }

    function cancelInlineCommentEdit(e) {
      console.log('cancel')
      comment = e.composedPath().find(el=>(el.classList.contains('comment')))
      input = comment.querySelector('.comment_inline_edit')
      text = comment.querySelector('.comment_comment')
      comment.classList.toggle('editing')
      input.innerHTML = text.innerHTML
    }

    function submitEditComment(e) {
      let comment = e.composedPath().find(el=>(el.classList.contains('comment'))).querySelector('.comment_inline_edit').value
      let id = e.composedPath().find(el=>(el.classList.contains('comment'))).dataset.id
      var xhr = new XMLHttpRequest();
      xhr.open("post", `/job/${slug}/editComment`, true);
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function (e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            result = JSON.parse(xhr.responseText)
            console.log(xhr.responseText);
            reWriteComments(result)
          } else {
            console.error(xhr.statusText);
          }
        }
      };
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      };
      xhr.send(`comment=${comment}&id=${id}`);
    }

    function removeComment(e) {
      //- console.log(e.composedPath().find(el => {
      //-   console.log(el)
      //-   console.log(el.classList)
      //-   console.log(el.classList.contains('comment'))
      //-   return el.classList.contains('comment')
      //- }).dataset.id)
      var xhr = new XMLHttpRequest();
      xhr.open("post", `/job/${slug}/removeComment`, true);
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function (e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            result = JSON.parse(xhr.responseText)
            console.log(xhr.responseText);
            reWriteComments(result)
          } else {
            console.error(xhr.statusText);
          }
        }
      };
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      };
      xhr.send(`id=${e.composedPath().find(el=>(el.classList.contains('comment'))).dataset.id}`);
    }

    function reWriteComments(comments) {
      console.log(comments)
      html = comments.reduce((html, comment)=> {
        return html + `
        <div class="comment" data-id="${comment._id}">
          <div class="comment_user">${comment.user.name}</div>  
          <div class="comment_comment">${comment.comment}</div>
          <textarea class="comment_inline_edit">${comment.comment}</textarea>
          <div class="comment_status ${comment.status}">${comment.status}</div>
          <div class="comment_createDate">${comment.modifiedDate?'modified on ':'created on '}${moment(comment.modifiedDate || comment.createDate).format('MMMM Do YYYY, h:mm:ss a')}</div>
          <div class="comment_controls">
            <div class="comment_controls_remove">
              <i class="fas fa-trash"></i>
            </div>
            <div class="comment_controls_edit">
              <i class="fas fa-pen"></i>
            </div>
            <div class="comment_controls_submit">
              <i class="fas fa-check"></i>
            </div>
            <div class="comment_controls_cancel">
              <i class="fas fa-times"></i>
            </div>
          </div>
        </div>
      `
      }, '') 
      commentInput.value = '' 
      commentsContainer.innerHTML = html
      commentButtonHandeler()
    }

    function mapsSelector(lat, long) {
      if /* if we're on iOS, open in Apple Maps */
        ((navigator.platform.indexOf("iPhone") != -1) || 
         (navigator.platform.indexOf("iPad") != -1) || 
         (navigator.platform.indexOf("iPod") != -1))
        window.open(`maps://maps.google.com/maps?daddr=${lat},${long}&amp;ll=`);
      else /* else use Google */
        window.open(`https://maps.google.com/maps?daddr=${lat},${long}&amp;ll=`);    }