//- extends layout

//- include mixins/_oucTable

//- block content
//-   +oucTable(
//-     'Jobs',
//-     'newJob',
//-     'job',
//-     'slug',
//-     parts,
//-     [
//-       {prop:'number', name:'Number'},
//-       {prop:'name', name:'Name',link:true},
//-       {prop:'project', name:'Project'},
//-       {prop:'customer', name:'Customer'},
//-       {prop:'rep', name:'Rep'},
//-       {prop:'customerNumber', name:'Cust. Num.'},
//-       {prop:'type', name:'Type'},
//-       {prop:'location', name:'Location'},
//-       {prop:'status', name:'Status'},
//-       {prop:'techs', name:'Techs'},
//-     ]
//-   )


extends layout

block content


  .jobs.oucTable
    //- form(method='post' action='#')
    .controls
      .title=title
      a.addjob(href='/newjob') 
        span Add Job
        i.fas.fa-plus
    table(class="sortable-theme-minimal" data-sortable)
      thead
        tr
          th 
            .sort
              .label Number
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="number")
          th 
            .sort
              .label Name
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="name")
          th 
            .sort
              .label Project
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="project")
          th 
            .sort
              .label Customer
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="customer")
          th 
            .sort
              .label Rep
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="rep")
          th 
            .sort
              .label Cust. Num.
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="customerNumber")
          th 
            .sort
              .label Type
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="type")
          th 
            .sort
              .label Location
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="location")
          th 
            .sort
              .label Status
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="status")
          th 
            .sort
              .label Techs
              i.fas.fa-sort
              i.fas.fa-sort-up
              i.fas.fa-sort-down
              input.filterInput(type="text" name="techs")
      tbody
        each job in jobs
          tr.job
            td.number #{job.number} - #{job.segment}
            td.name
              a(href=`/job/${job.slug}`)=job.name
            td.project=job.project?job.project.name:''
            td.customer=job.customer?job.customer.name:''
            td.rep=job.rep?job.rep.name:''
            td.customerNumber=job.customerNumber
            td.type=job.type
            td.location=job.location?job.location.googleAddress:''
            td.status=job.status
            td.techs
              each tech in job.techs
                span=tech.name
        // pre=h.dump(jobs[0])
  script.
    const form= document.querySelector('form')
    const tableBody = document.querySelector('tbody')
    let filters = [...document.querySelectorAll('.filterInput')]
    
    filters.forEach(f=> {
      f.addEventListener('keyup', filterTable);
    })

    function filterTable(e) {
      //- console.log(e)
      tbc = [...tableBody.children]
      //for each row
      tbc.forEach(row=> {
        //- console.log(row)
        //show the row
        row.classList.remove('hidden')
        rc=[...row.children]
        rc.forEach(cell => {
          console.log(cell)
          matches = false
          //if the row fails to match a paramater hide it.
          filters.forEach(filter => {
            filterRegex = new RegExp(filter.value, 'gmi')
            console.log(filter)
            //- console.log(filter.parentNode.cellIndex == cell.cellIndex)
            //- console.log(!filterRegex.test(cell.innerHTML))
            //- console.log(matches)
            if (
              filter.parentNode.parentNode.cellIndex == cell.cellIndex
              &&
              filterRegex.test(cell.textContent)
              ) {
                matches = true
              }
          })
          if (!matches){
            row.classList.add('hidden')
          }
        })
        return row
      })
    }