extends layout

block content
  .inner
    .card
      form(method='post' action='/multifileinput' enctype="multipart/form-data")
        input(name='files' type='file' multiple)
        input(name='submit' type='submit' value='submit')

      img(src='./public/uploads/Useful Hyperbolic Function Properties.pdf')