extends layout

block content
  h1=title
  a.back(href=`/parts`)
  .inner
    .cifa=part.cifa
    .oucpid=part.oucpid
    .description=part.description
    .shortname=part.shortname
    .category=part.category
    .type=part.type
    .invqty=part.invQty
  a.edit(href=`/editpart/${part.slug}`) Edit Part