extends layout

include mixins/_oucTable

block content
  +oucTable(
    'Parts',
    'newPart',
    'part',
    'slug',
    parts,
    [
     {prop: 'cifa',name:'CIFA', link:true},
     {prop: 'oucpid',name:'OUC Part Num'},
     {prop: 'description',name:'Description'},
     {prop: 'shortname',name:'Short Name'},
     {prop: 'category',name:'Category'},
     {prop: 'type',name:'Type'},
     {prop: 'invqty',name:'Quantity'},
    ]
  )
//- extends layout

//- block content
//-   .parts.oucTable
//-     .controls
//-       .title=title
//-       a.new(href='/newpart') 
//-         span Add Part
//-         i.fas.fa-plus
//-     table(class="sortable-theme-minimal" data-sortable)
//-       thead
//-         tr
//-           th
//-             .sort
//-               .label CIFA
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-           th
//-             .sort
//-               .label OUC Part Num
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-           th
//-             .sort
//-               .label Description
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-           th
//-             .sort
//-               .label Short Name
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-           th
//-             .sort
//-               .label Category
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-           th
//-             .sort
//-               .label Type
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-           th
//-             .sort
//-               .label Quantity
//-               i.fas.fa-sort
//-               i.fas.fa-sort-up
//-               i.fas.fa-sort-down
//-               input.filterInput(type="text")
//-       tbody
//-         each part in parts
//-           tr
//-             td.cifa
//-               a.part(href=`/part/${part.slug}`)=part.cifa
//-             td.oucpid=part.oucpid
//-             td.description=part.description
//-             td.shortname=part.shortname
//-             td.category=part.category
//-             td.type=part.type
//-             td.invqty=part.invqty
//-   script.
//-     const form= document.querySelector('form')
//-     const tableBody = document.querySelector('tbody')
//-     let filters = [...document.querySelectorAll('.filterInput')]
    
//-     filters.forEach(f=> {
//-       f.addEventListener('keyup', filterTable);
//-     })

//-     function filterTable(e) {
//-       //- console.log(e)
//-       tbc = [...tableBody.children]
//-       //for each row
//-       tbc.forEach(row=> {
//-         //- console.log(row)
//-         //show the row
//-         row.classList.remove('hidden')
//-         rc=[...row.children]
//-         rc.forEach(cell => {
//-           console.log(cell)
//-           matches = false
//-           //if the row fails to match a paramater hide it.
//-           filters.forEach(filter => {
//-             filterRegex = new RegExp(filter.value, 'gmi')
//-             console.log(filter)
//-             //- console.log(filter.parentNode.cellIndex == cell.cellIndex)
//-             //- console.log(!filterRegex.test(cell.innerHTML))
//-             //- console.log(matches)
//-             if (
//-               filter.parentNode.parentNode.cellIndex == cell.cellIndex
//-               &&
//-               filterRegex.test(cell.textContent)
//-               ) {
//-                 matches = true
//-               }
//-           })
//-           if (!matches){
//-             row.classList.add('hidden')
//-           }
//-         })
//-         return row
//-       })
//-     }