extends layout

include mixins/_oucTable

block content
  +oucTable(
    'Projects',
    'newproject',
    'project',
    'slug',
    projects,
    [
      {prop:'name',name:'Name',link:true}, 
      {prop:'address1',name:'Address 1'}, 
      {prop:'address2',name:'Address 2'}, 
      {prop:'city',name:'City'}, 
      {prop:'state',name:'State'}, 
      {prop:'zip',name:'Zip'},
    ]
  )

  //- h1=title
  //- .inner
  //-   each project in projects
  //-     .project
  //-       a.name(href=`/project/${project.slug}`)=project.name
  //-       .address=project.address1
  //-       .addresstwo=project.address2
  //-       .city=project.city
  //-       .state=project.state
  //-       .zip=project.zip
  //-     br
  //- a.new(href='/newproject') Add Project