extends layout

block content
  h1=title
  a.back(href='/projects') back
  .inner
    .project
    .name=project.name
    .address=project.address1
    .addresstwo=project.address2
    .city=project.city
    .state=project.state
    .zip=project.zip
    a.edit(href=`/editproject/${project.slug}`) Edit
