extends layout

block content
  .inner
    .card
      h2=title
      form.form(method='post' action='/register')
        label(for='name') Name
        input(name='name' placeholder='Tony Stark' required value=`${body.name || ''}`)
        label(for='email') Email
        input(name='email' type='email' placeholder='IamIronman@StarkIndustries.com' required value=`${body.email || ''}`)
        label(for='project') Project 
        select.projectSelector(name='project' required)
          option.projectDefault(disabled selected) Select Project
          each project in projects
            option.projectOption(value=`${project.slug}`)=project.name
        .hint Will see all jobs for Project selected
        label(for='customer') Customer
        select.customerSelector(name='customer' required)
          option.customerDefault(disabled selected) Select Customer
          each customer in customers
            option.customerOption(value=`${customer.slug}`)=customer.name
        .hint Will see all jobs for Customer selected
        label(for='admin') Admin
        input(name='admin' type='checkbox')
        label(for='tech') Tech
        input(name='tech' type='checkbox')
        label(for='password') Password
        input(name='password' type='password' placeholder='WaRmAcHiNeRoX' required value=`${body.password || ''}`)
        label(for='password-confirm') Confirm Password
        input(name='password-confirm' type='password' placeholder='WaRmAcHiNeRoX' required value=``)
        input(type='submit' value='Register')