extends layout

block content
  h1=title
  .inner
    each rep in reps
      .rep
        a.name(href=`/rep/${rep.slug}`)=rep.name
        .address=rep.address1
        .addresstwo=rep.address2
        .city=rep.city
        .state=rep.state
        .zip=rep.zip
      br
  a.new(href='/newrep') Add rep