extends layout

block content
  h1=title
  each rule in rules
    a.rule(href=`/rule/${rule.slug}`)
      .rule=rule.rule
      .dexcription=rule.description
      .shortDesc=rule.shortDesc
      .type=rule.type
      if rule.indentifyingPart
        .identifier=rule.identifyingPart.part.shortname
      else if rule.expectedPart
        .identifier=rule.identifyingCode.code.code
      else 
        .identifier Rule Identifier Missing
      if rule.expectedPart
        .expected=rule.expectedPart.part.shortname
      else if rule.expectedCode
        .expected=rule.expectedCode.code.code
      else 
        .expected Rule Expected Missing
      
    br
  br
  a.new(href='/newrule') Create New Rule