extends layout

block content
  .inner
    .card
      form(method='post' action='/singlefileinput' enctype="multipart/form-data")
        input(name='file' type='file')
        input(name='submit' type='submit' value='submit')