mixin addPartForm(job = {}, jobs = {}, parts = {})
  form.form(method='post' action=`/updateUsedParts/`)
    if jobs 
      label(for='job') Select a Job
      select(name='job')
        each job in jobs
          option(value=job.slug) #{job.name} - #{job.number}
    //- will need to switch to a categories view later
    each part in parts
      label(for=`${part._id}`)=part.shortname
      input(name=`parts[${part._id}]` type='number')
    input(name='submit' type='submit' value='submit')