mixin addCodeForm(job = {}, jobs = {}, codes = {})
  form.form(method='post' action=`/updateUsedCodes/`)
    if jobs 
      label(for='job') Select a Job
      select(name='job')
        each job in jobs
          option(value=job.slug) #{job.name} - #{job.number}
    //- will need to switch to a categories view later
    each code in codes
      label(for=`${code._id}`) #{code.code} - #{code.shortDesc}
      input(name=`codes[${code._id}]` type='number')
    input(name='submit' type='submit' value='submit')