mixin codeForm(code = {})
  form.form(method='post' action=`/updatecode/${code._id || ''}`)
    label(for='code') Code:
    input(type='text' name='code' value=`${code.code || ''}`)
    label(for='oucCode') OUCCode:
    input(type='text' name='oucCode' value=`${code.oucCode || ''}`)
    label(for='description') Description:
    input(type='text' name='description' value=`${code.description || ''}`)
    label(for='shortDesc') Short Description:
    input(type='text' name='shortDesc' value=`${code.shortDesc || ''}`)
    label(for='category') Category:
    input(type='text' name='category' value=`${code.category || ''}`)
    label(for='type') Type:
    input(type='text' name='type' value=`${code.type || ''}`)
    label(for='orderIndex') Order Index:
    input(type='text' name='orderIndex' value=`${code.orderIndex || ''}`)
    label(for='active') Active:
    input(name='active' type='checkbox' checked=code.active )
    input(type='submit' name='submit' value='submit')