mixin customerForm(customer = {})
  form.form(method='post' action=`/updateCustomer/${customer._id || ''}`)
    label(for='name') Customer Name:
    input(name='name' type='text' value=`${customer.name|| ''}`)
    label(for='address1') Address 1:
    input(name='address1' type='text' value=`${customer.address1|| ''}`)
    label(for='address2') Address 2:
    input(name='address2' type='text' value=`${customer.address2|| ''}`)
    label(for='city') City:
    input(name='city' type='text' value=`${customer.city|| ''}`)
    label(for='state')
    select(name="state" value=`${customer.state|| ''}`)
      //- add new state option in helpers.js!
      each state in h.states
        if customer.state == state
          option(value=state selected)=state
        else 
          option(value=state)=state
    label(for='zip') Zip:
    input(name='zip' type='number' value=`${customer.zip|| ''}`)
    //- coordinates add js to querry maps api to get coords based on street address.
    input(name='submit' type='submit' value='Submit')