mixin inboundPartForm(inboundpart={})
  form.form(method='post', action=`/updateInboundPart/${inboundpart._id || ''}`)
    label(for='number') Number:
    input(name='number' type='number' value=`${inboundPart.number || ''}`)
    if !inboundpart.customer
      label(for='customer') Customer:
      select.customerSelector(name='customer' required)
        option.customerDefault(disabled selected) Select Customer
        each customer in customers
          option.customerOption(value=`${customer.slug}`)=customer.name
    if !inboundpart.rep
      label(name='rep')
      select.repSelector(name='rep' required)
        option.repDefault(disabled selected) Select Rep
        each rep in reps
          option.repOption(value=`${rep.slug}` data-customer=`${rep.customer.slug}`)=rep.name
    each part in parts
      .part
        label(for=`${part._id}`)=part.shortname
        input(name=`parts[${part._id}]` type='number')
    label(for='notes') Notes:
    textarea(name='notes' value=`${inboundpart.notes || ''}`)
    input(name='submit' type='submit' value='submit')

  script.
    const customerSelector = document.querySelector('.customerSelector')
    const repSelector = document.querySelector('.repSelector')
    const customerOptions = [...document.querySelectorAll('.customerOption')]
    const repOptions = [...document.querySelectorAll('.repOption')]
    const repDefaultOption = document.querySelector('.repDefault')

    customerSelector.addEventListener('change', filterReps)

    function filterReps(e) {
      console.log(e)
      console.log(repOptions)
      repOptions.forEach(option => {
        console.log(option)
        if (option.dataset.customer != e.target.value) {
          console.log('hide')
          option.style.display = 'none'
        } else {
          console.log('show')
          option.style.display = ''
        }
      })
      repDefaultOption.selected = true
    }