mixin customerControls(user = {}, status)
  //- set job to ready
  //- no part adding 
  //- no part removing
  //- no add/remove photos

mixin techControls(user = {}, status)
  //- can add/remove parts
  //- can change to construction start/comeplete
  //- quick access to change notes
  //- NO REMOVING FILES -- just movi files from folder to 'deleted folder'

mixin adminControls(user = {}, status)
  //- can add remove parts
  //- can chang to any status
  //- can add/reemove photos
  //- can edit job
  //- quick access change notes
  //- if status == 

mixin changeStatus(user = {}, status, id)
  .control
    form(method='post' action=`/updatejob/simple/${id}`)
      select(name='status')
        option(selected value=status)=status
        each possibleStatus in h.statusControls
          if possibleStatus.status == status
            if user.admin
              each newPossibleStatus in possibleStatus.adminAvaliableStatus
                option(value=newPossibleStatus)=newPossibleStatus
            else if user.tech
              each newPossibleStatus in possibleStatus.techAvaliableStatus
                option(value=newPossibleStatus)=newPossibleStatus
            else
              each newPossibleStatus in possibleStatus.userAvaliableStatus
                option(value=newPossibleStatus)=newPossibleStatus
      button.confirm(type='submit')
        i.fa.fa-check
//- STATUSES: created -> readh -> inprogress -> construction complete -> invoicing -> invoiced

mixin quickChangeNotes(user = {}, notes, id)
  if user.tech || user.admin
    .notes
      form(method='post' action=`/updatejob/simple/${id}`)
        .label Notes:
        textarea(name='notes') #{notes || ''}
        input.confirm(name='submit' type='submit' value='Save Changes') 
  else
    .notes=notes