mixin jobForm(job={})
  form.form(method='post' action=`/updateJob/${job._id || ''}`)
    pre=h.dump(job.project)
    if !job.project || newJob
      label(for='project') Project:
      select.projectSelector(name='project' required)
        option.projectDefault(disabled selected=!job.project) Select Project
        each project in projects
          //- option.projectOption(value=`${project.slug}`)=project.name
          if job.project && job.project.length > 0
            option.projectOption( selected=(job.project == project.slug) value=`${project.slug}`)=project.name
          else
            option.projectOption(value=`${project.slug}`)=project.name
    if !job.customer || newJob
      label(for='customer') Customer:
      select.customerSelector(name='customer' required)
        option.customerDefault(disabled selected=!job.customer ) Select Customer
        each customer in customers
          //- option.customerOption(value=`${customer.slug}`)=customer.name
          if job.customer && job.customer.length > 0
            option.customerOption( selected=(job.customer == customer.slug) value=`${customer.slug}`)=customer.name
          else
            option.customerOption(value=`${customer.slug}`)=customer.name
    if !job.rep || newJob
      label(name='rep')
      select.repSelector(name='rep' required)
        option.repDefault(disabled selected=!job.rep) Select Rep
        each rep in reps
          //- option.repOption(value=`${rep.slug}` data-customer=`${rep.customer.slug}`)=rep.name
          if job.rep && job.rep.length > 0
            option.repOption( selected=(job.rep == rep.slug) value=`${rep.slug}` data-customer=`${rep.customer.slug}`)=rep.name
          else
            option.repOption(value=`${rep.slug}` data-customer=`${rep.customer.slug}`)=rep.name
    label(for='number') Job Number:
    input(name='number' type='number' value=`${job.number || ''}`)
    label(for='segment') Job Segment:
    input(name='segment' type='number' value=`${job.segment || '1'}`)
    label(for='name') Job Name:
    input(name='name' type='text' value=`${job.name || ''}`)
    label(for='customerNumber') Customer Refernece Number:
    input(name='customerNumber' type='text' value=`${job.customerNumber || ''}`)
    label(for='type') Type:
    select(name='type') 
      each t in h.types
        if job.t == t
          option(value=t selected)=t
        else
          option(value=t)=t
    label(for='status') Status:
    select(name='status')
      each status in h.statuses
        if job.status == status
          option(value=status selected)=status
        else
          option(value=status)=status
    label(for='googleAddress') Google Address:
    input(type="text" id="googleAddress" name="googleAddress" autocomplete='__away' value=`${!job.location ? '' : job.location.googleAddress}`)
    label(for="lng") Address Lng
    input(type="text" id="lng" name="coordinates0" value=`${!job.location ? '' : job.location.coordinates[0]}`)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="coordinates1" value=`${!job.location ? '' : job.location.coordinates[1]}`)
    label(for='addressNumber') Address Number:
    input(name='addressNumber' type='number' value=`${!job.location ? '' : job.location.address.number}`)
    label(for='addressLabel') Address Type:
    input(name='addressLabel' type='text' value=`${!job.location ? '' : job.location.address.type}`)
    label(for='streetName') Street Name:
    input(name='streetName' type='text' value=`${!job.location ? '' : job.location.street.name}`)
    label(for='streetType') Street Type:
    input(name='streetType' type='text' value=`${!job.location ? '' : job.location.street.type}`)
    label(for='city') City:
    input#city(name='city' type='text' value=`${!job.location ? '' : job.location.city}`)
    label(for='county') County:
    input#county(name='county' type='text' value=`${!job.location ? '' : job.location.county}`)
    label(for='state')
    select#state(name="state")
      each state in h.states
        if job.state == state
          option(value=state selected)=state
        else
          option(value=state)=state
    label(for='zip') Zip:
    input#zip(name='zip' type='number' value=`${!job.location ? '' : job.location.zip}`)
    //- coordinates add js to querry maps api to get coords based on street address.
    label(for='notes') Notes:
    textarea(name='notes') #{job.notes || ''}
    -const today = new Date()
    label(for='dueDate') Due Date:
    input(name='dueDate' type='date' value=`${job.dueDate ? job.dueDate.toJSON().slice(0,10).replace(/-/g,'-') : today.toJSON().slice(0,10).replace(/-/g,'-')}`)
    label(for='startDate') Start Date:
    input(name='startDate' type='date' value=`${job.dueDate ? job.dueDate.toJSON().slice(0,10).replace(/-/g,'-') : today.toJSON().slice(0,10).replace(/-/g,'-')}`)
    input(name='submit' type='submit' value='Submit')

  script.
    const customerSelector = document.querySelector('.customerSelector')
    const repSelector = document.querySelector('.repSelector')
    const customerOptions = [...document.querySelectorAll('.customerOption')]
    const repOptions = [...document.querySelectorAll('.repOption')]
    const repDefaultOption = document.querySelector('.repDefault')
    
    const form = document.querySelector('form')
    const fd = new FormData(form)
    customerSelector.addEventListener('change', filterReps)

    function filterReps(e) {
      console.log(e)
      console.log(repOptions)
      repOptions.forEach(option => {
        console.log(option)
        if (option.dataset.customer != e.target.value) {
          console.log('hide')
          option.style.display = 'none'
        } else {
          console.log('show')
          option.style.display = ''
        }
      })
      repDefaultOption.selected = true
    }
    
    filterReps({target: {value: customerSelector.value}})
