mixin loginForm()
  form.form(method='post' action='/login')
    label(for='email') Email
    input(name='email' type='email')
    label(for='password') Password
    input(name='password' type='password')
    input(name='submit' type='submit' value='Login')