mixin oucTable(collection='',addlink='',rowlink='',rowIdProp='',rows=[],columns=[])
  .oucTable(class=collection.toLowerCase())
    .controls
      .title=collection
      a.new(href=`/${addlink}`) 
        span Add #{collection}
        i.fas.fa-plus
    table(class="sortable-theme-minimal" data-sortable)
      thead
        tr
          each column in columns
            th
              .sort
                .label=column.name
                i.fas.fa-sort
                i.fas.fa-sort-up
                i.fas.fa-sort-down
                input.filterInput(type="text")
      tbody
        each row in rows
          tr
            each column in columns
              td(class=`${collection.toLowerCase()}_${column.prop}`)
                if column.link
                  a(href=`/${rowlink}/${row[rowIdProp]}`)=row[column.prop]
                else 
                  span=row[column.prop]
  script.
    const form= document.querySelector('form')
    const tableBody = document.querySelector('tbody')
    let filters = [...document.querySelectorAll('.filterInput')]
    
    filters.forEach(f=> {
      f.addEventListener('keyup', filterTable);
    })

    function filterTable(e) {
      //- console.log(e)
      tbc = [...tableBody.children]
      //for each row
      tbc.forEach(row=> {
        //- console.log(row)
        //show the row
        row.classList.remove('hidden')
        rc=[...row.children]
        rc.forEach(cell => {
          console.log(cell)
          matches = false
          //if the row fails to match a paramater hide it.
          filters.forEach(filter => {
            filterRegex = new RegExp(filter.value, 'gmi')
            console.log(filter)
            //- console.log(filter.parentNode.cellIndex == cell.cellIndex)
            //- console.log(!filterRegex.test(cell.innerHTML))
            //- console.log(matches)
            if (
              filter.parentNode.parentNode.cellIndex == cell.cellIndex
              &&
              filterRegex.test(cell.textContent)
              ) {
                matches = true
              }
          })
          if (!matches){
            row.classList.add('hidden')
          }
        })
        return row
      })
    }                    