mixin partForm(part = {})
  form.form(method='post' action=`/updatepart/${part._id || ''}`)
    label(for='cifa') CIFA:
    input(type='text' name='cifa' value=`${part.cifa || ''}`)
    label(for='oucpid') OUCPID:
    input(type='text' name='oucpid' value=`${part.oucpid || ''}`)
    label(for='description') Description:
    input(type='text' name='description' value=`${part.description || ''}`)
    label(for='shortname') Short Name:
    input(type='text' name='shortname' value=`${part.shortname || ''}`)
    label(for='category') Category:
    input(type='text' name='category' value=`${part.category || ''}`)
    label(for='type') Type:
    input(type='text' name='type' value=`${part.type || ''}`)
    label(for='invQty') Inital Inventory:
    input(type='text' name='invQty' value=`${part.invQty || ''}`)
    label(for='invIndex') Inventory Index:
    input(type='text' name='invIndex' value=`${part.invIndex || ''}`)
    label(for='orderIndex') Order Index:
    input(type='text' name='orderIndex' value=`${part.orderIndex || ''}`)
    input(type='submit' name='submit' value='submit')
