mixin projectForm(project = {})
  form.form(method='post' action=`/updateProject/${project._id || ''}`)
    label(for='name') Project Name:
    input(name='name' type='text' value=`${project.name|| ''}`)
    label(for='address1') Address 1:
    input(name='address1' type='text' value=`${project.address1|| ''}`)
    label(for='address2') Address 2:
    input(name='address2' type='text' value=`${project.address2|| ''}`)
    label(for='city') City:
    input(name='city' type='text' value=`${project.city|| ''}`)
    label(for='state')
    select(name="state" value=`${project.state|| ''}`)
      //- add new state option in helpers.js!
      each state in h.states
        if project.state == state
          option(value=state selected)=state
        else 
          option(value=state)=state
    label(for='zip') Zip:
    input(name='zip' type='number' value=`${project.zip|| ''}`)
    //- coordinates add js to querry maps api to get coords based on street address.
    input(name='submit' type='submit' value='Submit')