mixin repForm(rep = {})
  form.form(method='post' action=`/updateRep/${rep._id || ''}`)
    input(name='customer' type='hidden' value=`${customer || ''}`)
    label(for='name') Rep Name:
    input(type='text' name='name' value=`${rep.name || ''}`)
    label(for='email') Email:
    input(type='text' name='email' value=`${rep.email || ''}`)
    label(for='phone') Phone Number:
    input(type='text' name='phone' value=`${rep.phone || ''}`)
    input(type='submit' name='submit' value='submit')
