mixin ruleForm(rule = {})
  form.form(method='post' action=`/updaterule/${rule._id || ''}`)
    label(for='rule') Rule Name:
    input(name='rule' type='text' value=rule.rule || '')
    label(for='description') Description:
    input(name='description' type='text' value=rule.description || '')
    label(for='shortDesc') Short Description:
    input(name='shortDesc' type='text' value=rule.shortDesc || '')
    label(for='index') Index:
    input(name='index' type='number' value=rule.index || '')
    br
    br
    .main-sector
      label(for='rpfilter') Required Filter:
      input(name='rpfilter' type='text')
      br
      .sector
        .sector-division Identifying Job Parts
        +ruleIdentifier('identifyingParts', parts, 'part', rule.identifyingParts)
      .sector
        .sector-division Identifying Job Codes
        +ruleIdentifier('identifyingCodes', codes, 'code', rule.identifyingCodes)
    .main-sector
      label(for='epfilter') Expected Filter:
      input(name='epfilter' type='text')
      br
      .sector
        .sector-division Job Parts
        +ruleIdentifier('expectedParts', parts, 'part', rule.expectedParts)
      .sector
        .sector-division Job Codes
        +ruleIdentifier('expectedCodes', codes, 'code', rule.expectedCodes)
    input(name='submit' type='submit' value='submit')

mixin ruleIdentifier(identifierStr ='', identifierArr = [], ruleIdentifierStr ='', ruleIdentifierArr=[])
  each idn in identifierArr
    if ruleIdentifierArr.length > 0
      each ruleIdn in ruleIdentifierArr
        if ruleIdn[ruleIdentifierStr].toString() == idn._id.toString()
          div(class=`${ruleIdentifierStr}-option`)
            input(name=`${identifierStr}[${idn.slug}][expected]` type='checkbox' checked)
            input(name=`${identifierStr}[${idn.slug}][${ruleIdentifierStr}]` type='hidden' value=idn.slug)
            div(class=`${identifierStr}-info`)=idn.description
            input(name=`${identifierStr}[${idn.slug}][quantity]` type='number' value=ruleIdn.quantity)
            button(type='button' name='x') x
        else
          div(class=`${ruleIdentifierStr}-option`)
            input(name=`${identifierStr}[${idn.slug}][expected]` type='checkbox')
            input(name=`${identifierStr}[${idn.slug}][${ruleIdentifierStr}]` type='hidden' value=idn.slug)
            div(class=`${identifierStr}-info`)=idn.description
            input(name=`${identifierStr}[${idn.slug}][quantity]` type='number')
            button(type='button' name='x') x
    else 
      div(class=`${ruleIdentifierStr}-option`)
        input(name=`${identifierStr}[${idn.slug}][expected]` type='checkbox')
        input(name=`${identifierStr}[${idn.slug}][${ruleIdentifierStr}]` type='hidden' value=idn.slug)
        div(class=`${identifierStr}-info`)=idn.description
        input(name=`${identifierStr}[${idn.slug}][quantity]` type='number')
        button(type='button' name='x') x