.job {
  h1 {
    margin: 10px 0;
  }
  &_details {
    div {
      padding: 4px;
    }
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "number status"
      "ref edit"
      "customer type"
      "rep project"
    ;
    align-items: center;
    &-status{
      display: flex;
      grid-area: status;
      .control {
        padding: 0 2px;
        form {
          display: flex;
          input {
            padding: 0;
          }
        }
      }
    }
    .edit {
      grid-area: edit;
      padding: 0 4px;
      span{
        padding: 0 4px 0 0;
      }
    }
    .type {
      grid-area: type;
    }
    .number {
      grid-area: number;
    }
    .refNumber {
      grid-area: ref;
    }
    .customer-name {
      grid-area: customer;
    }
    .rep-name {
      grid-area: rep;
    }
    .project-name {
      grid-area: project;
    }
    .right-column {
      // text-align: right;
      display:  flex;
      justify-content: flex-end;
    }
  }
  &_location {
    padding: 12px 0px;
    .address {
      font-weight: bold;
      text-align: right;
    }
  }
  &_notes {
    .notes {
      form {
        display: grid;
        grid-template-columns: 9fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "label label"
          "input input"
          "blank submit"
        ;
        .label {
          grid-area: label;          
        }
        textarea {
          grid-area: input;          
        }
        input {
          grid-area: submit;          
          padding: 4px 8px;
        }
      }
    }
  }
  #comments {
    .comment {
      display: grid;
      grid-template-columns: auto auto 1fr;
      grid-column-gap:4px;
      grid-template-rows: auto;
      grid-template-areas: 
        "reporter time controls"
        "nothing nothing status"
        "comment comment comment"
      ;
      padding: 12px 0;
      &_user{
        grid-area: reporter;
        font-weight: bold;
        text-decoration:underline;
      }
      &_comment{
        display: block;
        grid-area: comment;
      }
      &_inline_edit{
        display: none;
        grid-area: comment;
      }
      &_status{
        grid-area: status;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        .active {
          color: $oucGreen;
          background: white;
          border-radius: 4px;
          border: 2px solid $oucGreen;        
          padding: 1px 2px;
        }
        .inactive{
          color: $red;
          background: white;
          border-radius: 4px;
          border: 2px solid $red;   
          padding: 1px 2px;
        }
      }
      &_createDate{
        grid-area: time;
        color: #aaa;
      }      
      &_modifiedDate{
        grid-area: time;
        color: #aaa;
      }
      &_controls{
        grid-area: controls;
        display: flex;
        justify-content: flex-end;
        color: #777;

        &_remove{
          padding: 2px;
        }
        &_edit{
          padding: 2px;
          display: block;
          color: $yellow;
        }
        &_submit{
          padding: 2px;
          display: none;
          color: $oucGreen;
        }
        &_cancel{
          padding: 2px;
          display: none;
          color: $red;
        }
      }
    }
    .editing .comment {
      &_user{
        grid-area: reporter;
      }
      &_comment{
        display: none;
        grid-area: comment;
      }
      &_inline_edit{
        display: block;
        grid-area: comment;
      }
      &_status{
        grid-area: status;
      }
      &_createDate{
        grid-area: time;
      }
      &_controls{
        grid-area: controls;
        &_remove{
  
        }
        &_edit{
          display: none;
        }
        &_submit{
          display: block;

        }
        &_cancel{
          display: block;
        }
      }
    }
  }
  .add_comment {
    .label {
      font-weight: bold;
      font-size: .9em;
    }
    .comment_input {

    }
    &_submit{
      display: flex;
      justify-content: flex-end;
      color: $oucGreen;
      padding: 2px 12px;
    }
  }
  .parts{
    .label{
      font-weight: bold;
      padding: 1px;
      border-bottom: 1px solid $black;
      margin: 0 0 2px 0;
    }
    &__part{
      padding: 2px;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr auto;
      grid-template-rows: auto;
      &--cifa{

      }
      &--desc{

      }
      &--qty{
        text-align: right;
      }
      &--controls{
        a{
          color: $red;
          padding: 0 13px;
        }
      }
    }
    &__controls{
      display: flex;
      justify-content: flex-end;
      a{
        color: white;
        background: $oucGreen;
        text-align: center;
        min-width: 85px;
        border-radius: 4px;
        border: 1px solid darken($oucGreen, 10%);
        padding: 2px 4px;
      }
    }
  }
  .codes{
    .label{
      font-weight: bold;
      padding: 1px;
      border-bottom: 1px solid $black;
      margin: 0 0 2px 0;
    }
    &__code{
      padding: 2px;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr auto;
      grid-template-rows: auto;
      &--cifa{

      }
      &--desc{

      }
      &--qty{
        text-align: right;
      }
      &--controls{
        a{
          color: $red;
          padding: 0 13px;
        }
      }
    }
    &__controls{
      display: flex;
      justify-content: flex-end;
      a{
        color: white;
        background: $oucGreen;
        text-align: center;
        min-width: 85px;
        border-radius: 4px;
        border: 1px solid darken($oucGreen, 10%);
        padding: 2px 4px;
      }
    }
  }
  .files {
    padding: 12px 0;
    .label{
      font-weight: bold;
      padding: 1px;
      border-bottom: 1px solid $black;
      margin: 0 0 8px 0;
    }
    .file{
      display: grid;
      grid-template-columns: 1fr 6fr 4fr 1fr;
      grid-column-gap:4px;
      grid-row-gap:4px;
      grid-template-rows: auto;
      grid-template-areas: 
        "icon name time size"
      ;
      align-items: center;
      a {
        .actualname{
          color: #999;
          font-size: .85em;
          text-decoration:underline;
        }
      }
      .thumbnail {
        height: 32px;
        width: 32px;
        padding: 0;
        margin: 0;
      }
    }
  }
  .file:nth-of-type(2n){
    background: #f7f7f7;
  }
  .file__controls{
    .upload {
      form{
        label{
          font-weight: bold;
          padding: 1px;
          border-bottom: 1px solid $black;
          margin: 0 0 2px 0;
        }
        input[type="file"] {
    
        }
        input{
          
        }
        .fileinput{

        }
        .submit{
          
        }
      }
    }
  }
}



.confirm {
  background:linear-gradient(to bottom, lighten($oucGreen, 5%) 5%, $oucGreen 100%);
  background: $oucGreen;
  border-radius: 2px;
  border: 1px solid darken($oucGreen, 5%);
  color: white;
}

.confirm:hover {
  background:linear-gradient(to bottom, lighten($oucGreen, 10%) 5%, $oucGreen 100%);
  background-color:$oucGreen;
}