// // .identifyingPartContainer  {
// //   border: 1px solid black;
// //   padding: 8px;
// // }


// .ruleOptions {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   .optionContainer {
//     flex:1;
//   }
//   .ruleOption {
//     display: none;
//   }
//   .identifyingContainer {

//   }

//   .expectedContainer {

//   }
// }

// .typeSelector {
//   &__title {

//   }
//   &__options {
//     display: flex;
//     flex-direction: row;
//   }
// }

.part-option {
  display: flex;  
  input {
    width:auto;
  }
}

.code-option {
  display: flex;
  input {
    width:auto;
  }
}

.main-sector {
  display: flex;
  flex-wrap: wrap;
  align-content:stretch;
  input {
    width: 100%;
  }
  .sector {
    flex:1;
    .sector-division {
      font-size: 1.5em;
    }
    input[type='checkbox'] {
      width: auto;
    }
  }
}