.oucTable {
  padding: 16px;
  background: white;
  margin: 0 24px;
  .controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .title {
      font-size: 3em;
      flex: 1;
      padding: 0 24px;
    }
    a {
      margin: 4px;
      padding: 4px 8px;
      color: white;
      background: $oucGreen;
      border-radius: 2px;
      border: darken($oucGreen, 5%);
      i {
        padding: 0 4px;
      }
    }
  }
  table {
    margin: 24px;
    border-collapse: collapse;
    tr:nth-of-type(2n) {
      background: $grey;
    }
    @media all and (max-width: 1200px) {
      // th:nth-of-type(8),th:nth-of-type(3),th:nth-of-type(5),th:nth-of-type(10){
      //   display: none;
      // }
      // td:nth-of-type(8),td:nth-of-type(3),td:nth-of-type(5),td:nth-of-type(10){
      //   display: none;
      // }
    }
    thead {
      background: linear-gradient(lighten($oucGreen, 3%),darken($oucGreen, 3%));
      color: white;
      tr{
        th{
          border: 1px solid darken($oucGreen, 10%);
          white-space: nowrap;
          padding: 0 2px 2px 2px;
          .label {
            grid-area: label;
            padding: 2px;
          }
          input {
            grid-area: input;
            padding: 4px;
          }
          &::after{
            display: none;
          }
          .sort{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: 
              "label sort"
              "input input"
            ;
            padding: 2px 4px;
            .fa-sort{
              display: block;
              justify-self:end;
            }
            .fa-sort-up{
              display: none;
              justify-self:end;
            }
            .fa-sort-down{
              display: none;
              justify-self:end;
            }
          }
          &[data-sorted='true']{
            .sort{
              .fa-sort{
                display: block;
              }
              .fa-sort-up{
                display: none;
              }
              .fa-sort-down{
                display: none;
              }
            }
          }
          &[data-sorted='false']{

          }
          &[data-sorted-direction='ascending']{
            .sort{
              .fa-sort{
                display: none;
              }
              .fa-sort-up{
                display: block;
              }
              .fa-sort-down{
                display: none;
              }
            }
          }
          &[data-sorted-direction='descending']{
            .sort{
              .fa-sort{
                display: none;
              }
              .fa-sort-up{
                display: none;
              }
              .fa-sort-down{
                display: block;
              }
            }
          }
        }
      }
    }
    tbody {
      tr{
        td{
          border: 1px solid darken($oucGreen, 10%);
          padding: 4px;
        }
        // .name{
        //   white-space: nowrap;
        // }
        // .project{
        //   white-space: nowrap;
        // }
        // .type{
        //   white-space: nowrap;
        // }
      }
      .hidden{
        display: none;
      }
    }
  }
}